<div class="flex">
    <div class="name item">
        <p class="text">Nombre</p>
        <p>Marta Alemán Suárez</p>
    </div>
    <div class="subject item">
        <p class="text">Asignatura</p>
        <p>Matemáticas, Inglés</p>
    </div>
    <div class="email item">
        <p class="text">Email</p>
        <p>marta@gmail.com</p>
    </div>
    <div class="phone item">
        <p class="text">Teléfono</p>
        <p>987 654 321</p>
    </div>
    <div>
        <button>+ Info</button>
    </div>
</div>