.flex {
    margin-top: 70px;
    margin-left: 220px;
    margin-right: 220px;
    padding: 35px 45px 25px 35px;
    display: flex;
    border: solid 1px rgb(198, 198, 198);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.item {
    width: 20%;
}

.text {
    font-weight: bold;
}

button {
    width: 80px;
    background-color: green;
    color: white;
    border-color: transparent;
    border-radius: 8px;
    padding: 5px 0px 5px 0px;
    text-align: center;
}