<div class="flex mb-4 " *ngFor="let teacher of tutorInfo">
  <div class="item ">
    <p class="text">Profesor</p>
    <p>{{teacher.teacher_name}} {{teacher.teacher_last_name}} </p>
  </div>

  <div class="item">
    <p class="text">Email</p>
    <p> {{teacher.teacher_email}} </p>
  </div>
  <div class="item">
    <p class="text">Teléfono</p>
    <p> {{teacher.teacher_mobile}} </p>
  </div>
  <div class="item">
    <p class="text">Asignatura</p>
    <p>{{teacher.subject_name}} </p>
  </div>

  <div>
    <button [routerLink]="['/tutor/info',teacher.idusers]" routerLinkActive="router-link-active">+ Info</button>
  </div>
</div>

<!-- <th scope="col">Nombre</th>
  <th scope="col">Email</th>
  <th scope="col">Teléfono</th>
  <th scope="col">Asignatura</th>
  </tr> -->