<section>
    <app-tutor-menu></app-tutor-menu>
    <div class="bg">
        <h2 class="mb-5 underline">Información general</h2>
        <div class="flex">
            <div class="flex-item">
                <app-profile-form ></app-profile-form>
            </div>
            <div class="flex-item">
                <app-profile-picture ></app-profile-picture>
            </div>
        </div>
        <app-tutor-subjects></app-tutor-subjects>
        <app-tutor-ads></app-tutor-ads>
        <button class="btn d-grid gap-2 col-2 mx-auto" type="button">Guardar</button>
    </div>    

    <div>
        
    </div>

</section>