<section>
    <app-student-menu></app-student-menu>
    <div class="bg">
        <h2 class="mb-5 underline">Información general</h2>
        <div class="flex">
            <div class="flex-item">
                <app-profile-form ></app-profile-form>
            </div>
            <div class="flex-item">
                <app-profile-picture ></app-profile-picture>
            </div>
            
        </div>
        <app-student-learning></app-student-learning>
        <button class="btn d-grid gap-2 col-2 mx-auto" type="button">Guardar</button>
    </div>
    <div>    
        <app-profile-form></app-profile-form>
    </div>
</section>