<header>
    <app-home-header></app-home-header>
</header>

<section class="margin">
    <div class="bg">
        <h2 class="mb-5 underline">Información general</h2>
        <div class="flex">
            <div class="flex-item">
                <app-profile-form></app-profile-form>
            </div>
            <div class="flex-item">
                <app-profile-picture></app-profile-picture>
            </div>
        </div>
        <app-student-about-me-profile></app-student-about-me-profile>
    </div>
</section>
<footer>
   <app-footer></app-footer> 
</footer>
