.bg {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    background: rgba(118, 149, 106, 0.06);
    border-radius: 8px;
    padding: 50px;
}

.underline {
    padding-bottom: 7px;
    border-bottom: solid 1px rgb(150, 150, 150);
}

.flex {
    display: flex;
    gap: 70px;

}

.flex-item {
    flex-basis: 100%;
}

.btn {
    background-color: rgb(104, 148, 86);
    color: white;
    margin-top: 30px;
}
