.star {
    display: inline-block;
    width: 20px; /* ajusta el tamaño según sea necesario */
    height: 20px;
    background-color: rgb(255, 255, 255); /* color de estrella blanco */
    margin-right: 2px; /* espacio entre estrellas */
  }
  svg {
    color : "red";
}
  .gold {
    fill: #ECBA18;
  }
  .white {
    fill: rgb(255, 255, 255);
  }
  
  .opinions{
    color:gray
  }

  .review{
    display:flex;
    position: relative;
    margin: auto;
}

.rate {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  margin-top: 15px;
  margin-bottom: 0px;
  margin-top: 3px !important;
  padding-left: 1px;
  font-weight: bold;
}