<div class="text-muted mt-5">

  <section class="back front pt-4">
    <div class="container text-center text-md-start mt-4 justify-content-center">
      <!-- Grid row -->
      <div class="d-flex mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 me-5 mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Tutoring
          </h6>
          <p>
            Somos una empresa enfocada en comunicar profesores con estudiantes
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 me-5 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Sobre nosotros
          </h6>
          <p>
            <a href="#!" class="text-reset">Quiénes somos</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Nuestros valores</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Menciones legales</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Confidencialidad</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-2 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links útiles
          </h6>
          <p>
            <a href="#!" class="text-reset">Explorar</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Configuraciones</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Idioma</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Ayuda</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-2 mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p><i class="fas fa-home me-3"></i> Madrid, MAD 28001, ESPAÑA</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            tutoring@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        





        <div class="col-md-3 col-lg-2 col-xl-2 mx-2 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Síguenos
          </h6>
          <div class="mb-3">
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
          </div>
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
          
        </div>







        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4 back front">
    © 2023 Copyright:
    <a class="text-reset fw-bold">Tutoring.com</a>
  </div>

  <!-- Footer -->
</div>