
<div class="myhtml">
    <header>
        <app-home-header [nombre]=nombre></app-home-header>
    </header>

    <app-filter-professors (sendTeachers)="getFilterTeachers($event)"></app-filter-professors>


    <!-- TODO: LIMITAR A 15 CARDS por pagina, filtrar por los mejor valorados de forma predeterminada -->

    <main class="container mt-5">
        <div>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <article *ngFor="let teacher of teachers">
                    <app-tutor-card [myTeacher]="teacher"></app-tutor-card>
                </article>
            </div>
            <pagination-controls (pageChange)="pagination = $event" previousLabel="Anterior" nextLabel="Siguiente"
                class="d-block m-5 text-center" [responsive]=true></pagination-controls>
        </div>
    </main>

    <section class="my-5" style="max-width: 500px">
        <app-map class="w-75" style="max-width: 100%"></app-map>
    </section>


    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>


