<header>
  <app-home-header [nombre]="nombre"></app-home-header>
</header>

<main>
  <section>
    <div class="back">
      <div class="mt-5 mb-5 pb-5">
        <app-filter-professors></app-filter-professors>
      </div>
    </div>



    <div class="container mt-5 pt-5">
      <div class="row d-flex align-items-stretch">
        <article class="col-12 col-md-6 col-lg-4 mb-3 d-flex flex-column" *ngFor="let teacher of teachers">
          <div class="d-flex flex-grow-1">
            <app-tutor-card [teacher]="teacher" [showDetailedTags]="false" [showEmail]="false"
              [showAge]="false"></app-tutor-card>
          </div>
        </article>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <article *ngFor="let teacher of teachers"></article>
    </div>
    <pagination-controls (pageChange)="pagination = $event" previousLabel="Anterior" nextLabel="Siguiente"
      class="d-block m-5 text-center" [responsive]="true"></pagination-controls>
  </section>

  <section class="d-flex justify-content-center margin">
    <app-map></app-map>
  </section>
</main>

<footer class="">
  <app-footer></app-footer>
</footer>