<!-- <app-home-header [nombre]=nombre></app-home-header> -->

<app-filter-professors (sendTeachers)="getFilterTeachers($event)"></app-filter-professors>

<app-footer></app-footer>

<app-home-header class="m-4"></app-home-header>
<!-- TODO: HACER LISTADO Y LIMITAR A 15 CARDS por pagina, filtrar por los mejor valorados de forma predeterminada -->
<!-- TODO: PONER EL FILTER -->

<main class="container mt-5">
    <div class="row gx-3 gy-4">
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
        <app-tutor-card class="col-12 col-md-6 col-lg-3"></app-tutor-card>
    </div>
    <pagination-controls (pageChange)="pagination = $event" previousLabel="Anterior" nextLabel="Siguiente"
        class="d-block m-5 text-center" [responsive]=true></pagination-controls>
</main>

<section class="my-5" style="max-width: 500px">
    <app-map class="w-75" style="max-width: 100%"></app-map>
</section>

<app-footer class="m-4"></app-footer>