<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="miFormulario" (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="fecha">Fecha (AAAA-MM-DD):</label>
                    <input formControlName="fecha" type="date" class="form-control" id="fecha" name="fecha"
                        pattern="\d{4}-\d{2}-\d{2}" required>
                    <small id="fechaHelp" class="form-text text-muted">Formato: AAAA-MM-DD</small>
                </div>
                <div class="form-group">
                    <label for="hora">Hora (HH:MM:SS):</label>
                    <input formControlName="hora" type="time" class="form-control" id="hora" name="hora"
                        pattern="\d{2}:\d{2}:\d{2}" required>
                    <small id="horaHelp" class="form-text text-muted">Formato: HH:MM:SS</small>
                </div>

                <div class="form-group">
                    <label>Elige asignaturas</label>
                    <select formControlName="selectedAsignatura" class="form-control"
                        (change)="onAsignaturaChange($event)">
                        <option value="-1" disabled selected>Selecciona una asignatura</option>
                        <option *ngFor="let asignatura of class" [value]="asignatura.name">{{ asignatura.name }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Elige nivel</label>
                    <select formControlName="nivel" class="form-control">
                        <option value="-1" disabled selected>Selecciona un nivel</option>
                        <option *ngIf="miFormulario.get('nivel')?.value" [value]="miFormulario.get('nivel')?.value">
                            {{ miFormulario.get('nivel')?.value }}</option>
                    </select>
                </div>



            </form>
            <input type="submit" class="btn btn-primary" (click)="submit()" value="Enviar"
                [disabled]="miFormulario.valid">
        </div>
    </div>
</div>