<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="miFormulario">
                <div class="form-group">
                    <label for="fecha">Fecha (AAAA-MM-DD):</label>
                    <input type="date" class="form-control" id="fecha" name="fecha" pattern="\d{4}-\d{2}-\d{2}"
                        required>
                    <small id="fechaHelp" class="form-text text-muted">Formato: AAAA-MM-DD</small>
                </div>
                <div class="form-group">
                    <label for="hora">Hora (HH:MM:SS):</label>
                    <input type="time" class="form-control" id="hora" name="hora" pattern="\d{2}:\d{2}:\d{2}" required>
                    <small id="horaHelp" class="form-text text-muted">Formato: HH:MM:SS</small>
                </div>
                <div class="form-group">
                    <label for="hora">Elige asignaturas</label>
                    <select class="form-control">

                        <option value="0" *ngFor="let asig of class">{{asig}} </option>
                    </select>

                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>