<div class="form-translucido">
    <div class="card-body">
        <h2 class="text-center mb-4">Información general</h2>
        <form>

            <!-- Campo para el nombre -->
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                <div>
                    <small class="text-danger">Nombre es requerido. </small>
                    <small class="text-danger">Nombre debe tener almenos 2 caracteres.</small>
                </div>
            </div>

            <!-- Campo para los apellidos -->
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos">
                <div>
                    <small class="text-danger">Apellido es requerido. </small>
                    <small class="text-danger">Apellido debe tener al menos 2 caracteres.</small>
                </div>
            </div>


            <!-- Campo para la fecha de nacimiento -->
            <div class="mb-3">
                <input type="date" class="form-control" formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento">
                <div>
                    <small class="text-danger">La fecha de nacimiento es requerida. </small>
                </div>
            </div>

            <!-- Campo para la ciudad -->
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="ciudad" placeholder="Ciudad">
                <div>
                    <small class="text-danger">La ciudad es requerida. </small>
                </div>
            </div>

            <!-- Campo para el número de teléfono -->
            <div class="mb-3">
                <input type="tel" class="form-control" formControlName="telefono" placeholder="Número de Teléfono">
                <div>
                    <small class="text-danger">El número de teléfono es requerido. </small>
                    <small class="text-danger">Formato de teléfono inválido.</small>
                </div>
            </div>

            <!-- Campo para el email -->
            <div class="mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                <div>
                    <small class="text-danger">El email es requerido. </small>
                    <small class="text-danger">Formato de email inválido.</small>
                </div>
            </div>

            <!-- Campo para la contraseña -->
            <div class="mb-3">
                <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                <div>
                    <small class="text-danger">La contraseña es requerida. </small>
                    <small class="text-danger"> La contraseña debe tener al menos X caracteres. Actualmente tiene Y. </small>
                </div>
            </div>

            <!-- Selector de rol (Alumno/Profesor) -->
            <div class="mb-3">
                <label class="form-label">¿Cuál es tu rol?</label>
                <select formControlName="rol" class="form-select">
                    <option value="Alumn">Alumno</option>
                    <option value="Professor">Profesor</option>
                </select>
            </div>

        </form>
    </div>
</div>