<div class="card form-translucido">
    <div class="card-body">
        <h2 class="text-center mb-4">Registro de Usuario</h2>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">

            <!-- Campo para el nombre -->
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                <div
                    *ngIf="authForm.get('nombre')?.invalid && (authForm.get('nombre')?.touched || authForm.get('nombre')?.dirty)">
                    <small class="text-danger" *ngIf="authForm.get('nombre')?.errors?.['required']">Nombre es
                        requerido.</small>
                    <small class="text-danger" *ngIf="authForm.get('nombre')?.errors?.['minlength']">Nombre debe tener
                        al
                        menos 2 caracteres.</small>
                </div>
            </div>

            <!-- Campo para los apellidos -->
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos">
                <div
                    *ngIf="authForm.get('apellidos')?.invalid && (authForm.get('apellidos')?.touched || authForm.get('apellidos')?.dirty)">
                    <small class="text-danger" *ngIf="authForm.get('apellidos')?.errors?.['required']">Apellido es
                        requerido.</small>
                    <small class="text-danger" *ngIf="authForm.get('apellidos')?.errors?.['minlength']">Apellido debe
                        tener
                        al
                        menos 2 caracteres.</small>
                </div>
            </div>


            <!-- Campo para la fecha de nacimiento -->
            <div class="mb-3">
                <input type="date" class="form-control" formControlName="fechaNacimiento"
                    placeholder="Fecha de Nacimiento">
                <div
                    *ngIf="authForm.get('fechaNacimiento')?.invalid && (authForm.get('fechaNacimiento')?.touched || authForm.get('fechaNacimiento')?.dirty)">
                    <small class="text-danger" *ngIf="authForm.get('fechaNacimiento')?.errors?.['required']">La fecha de
                        nacimiento es requerida.</small>
                </div>
            </div>

            <!-- Campo para la ciudad -->
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="ciudad" placeholder="Ciudad">
                <div
                    *ngIf="authForm.get('ciudad')?.invalid && (authForm.get('ciudad')?.touched || authForm.get('ciudad')?.dirty)">
                    <small class="text-danger" *ngIf="authForm.get('ciudad')?.errors?.['required']">La ciudad es
                        requerida.</small>
                </div>
            </div>

            <!-- Campo para el número de teléfono -->
            <div class="mb-3">
                <input type="tel" class="form-control" formControlName="telefono" placeholder="Número de Teléfono">
                <div
                    *ngIf="authForm.get('telefono')?.invalid && (authForm.get('telefono')?.touched || authForm.get('telefono')?.dirty)">
                    <small class="text-danger" *ngIf="authForm.get('telefono')?.errors?.['required']">El número de
                        teléfono es requerido.</small>
                    <small class="text-danger" *ngIf="authForm.get('telefono')?.errors?.['pattern']">Formato de teléfono
                        inválido.</small>
                </div>
            </div>

            <!-- Campo para el email -->
            <div class="mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                <div
                    *ngIf="authForm.get('email')?.invalid && (authForm.get('email')?.touched || authForm.get('email')?.dirty)">
                    <small class="text-danger" *ngIf="authForm.get('email')?.errors?.['required']">El email es
                        requerido.</small>
                    <small class="text-danger" *ngIf="authForm.get('email')?.errors?.['email']">Formato de email
                        inválido.</small>
                </div>
            </div>

            <!-- Campo para la contraseña -->
            <div class="mb-3">
                <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                <div
                    *ngIf="authForm.get('password')?.invalid && (authForm.get('password')?.touched || authForm.get('password')?.dirty)">
                    <small class="text-danger" *ngIf="authForm.get('password')?.errors?.['required']">La contraseña es
                        requerida.</small>
                    <small class="text-danger" *ngIf="authForm.get('password')?.errors?.['minlength']">
                        La contraseña debe tener al menos {{
                        authForm.get('password')?.errors?.['minlength'].requiredLength }} caracteres. Actualmente tiene
                        {{ authForm.get('password')?.errors?.['minlength'].actualLength }}.
                    </small>
                </div>
            </div>

            <!-- Campo para repetir la contraseña -->
            <div class="mb-3">
                <input type="password" class="form-control" formControlName="confirmPassword"
                    placeholder="Repita la Contraseña">
                <div
                    *ngIf="authForm.get('confirmPassword')?.invalid && (authForm.get('confirmPassword')?.touched || authForm.get('confirmPassword')?.dirty)">
                    <small class="text-danger" *ngIf="authForm.get('confirmPassword')?.errors?.['required']">Debe
                        repetir la contraseña.</small>
                </div>
                <!-- Mensaje de error para la confirmación de contraseña si no coincide -->
                <div *ngIf="authForm.errors?.['notSame'] && authForm.get('confirmPassword')?.touched">
                    <p class="text-danger">Las contraseñas no coinciden.</p>
                </div>
            </div>

            <!-- Selector de rol (Alumno/Profesor) -->
            <div class="mb-3">
                <label class="form-label">¿Cuál es tu rol?</label>
                <select formControlName="rol" class="form-select">
                    <option value="Alumn">Alumno</option>
                    <option value="Professor">Profesor</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success">Registrar</button>  
            <div
                *ngIf="successRegister">
                <label class="text-success form-label">Registro exitoso. Por favor, revisa tu email para confirmar tu cuenta.</label>
            </div>
        </form>
    </div>
</div>