<section>
    <app-student-menu></app-student-menu>
    <div class="text-center text-black display-4">
        Mis clases
        <div class="container my-4">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="card shadow p-3 mb-2" *ngFor="let asig of getInfo()">
                        <h4> {{asig.subject_name}} </h4>
                        <p class="fs-4">Profesor: {{asig.teacher_name}} </p>
                        <p class="fs-4"> Email: {{asig.email}} </p>
                        <p class="fs-4">Nivel: {{asig.level}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>