<div class="container mt-4">
  <h1 class="pt-5 pb-5">Encuentra a tu profesor entre los mejores valorados</h1>


  <form [formGroup]=" getFilterForm()" (ngSubmit)="applyFilters()" class="row mb-5">

    <div class="col-md-auto">
      <label for="subject" class="form-label">Asignatura:</label>
      <select id="subject" class="form-select" formControlName="selectedSubject">
        <option value="0">Todas las asignaturas</option>
        <option *ngFor="let subject of getSubjects()" [value]="subject.name">{{ subject.name }}</option>
      </select>
    </div>

    <div class="col-md-auto">
      <label for="province" class="form-label">Provincia:</label>
      <select id="province" class="form-select" formControlName="selectedProvince">
        <option value="0">Todas las provincias</option>
        <option *ngFor="let province of getProvince()" [value]="province.name_province">{{ province.name_province }}
        </option>
      </select>
    </div>
    <div class="col-md-auto">
      <label for="price" class="form-label">Precio/Hora:</label>
      <select id="price" class="form-select" formControlName="selectedPrice">
        <option value="0">Cualquier precio</option>
        <option *ngFor="let price of getPriceRange ()" [value]="price">{{ price }}</option>
      </select>
    </div>
    <div class="col-md-auto">
      <label for="experience" class="form-label">Experiencia:</label>
      <select id="experience" class="form-select" formControlName="selectedExperience">
        <option value="0">Cualquier experiencia</option>
        <option *ngFor="let exp of getExperienceRange()" [value]="exp">{{ exp }} + años</option>
      </select>
    </div>
    <div class="col-md-auto">
      <label for="rating" class="form-label">Puntuación mínima:</label>
      <input type="number" id="rating" class="form-control" formControlName="minRating" [defaultValue]="0" min="0"
        max="5">
    </div>
    
      <div class="col-md-auto align-self-end ms-5">
        <button class="btn" (click)="applyFilters()">Aplicar Filtros</button>
      </div>
    
  </form>



</div>