h3 {
    margin-top: 65px;
    margin-left: 220px;
    margin-right: 220px;
    border-bottom: solid 1px rgb(194, 194, 194);
    padding-bottom: 8px;
    margin-bottom: 70px;
}

.margin1{
    margin-left: 200px;
    margin-right: 200px;
}

.margin2{
    margin-left: 80px;
    margin-right: 80px;
}