<app-home-header></app-home-header>
<section class="margin">
    <h3>Mis asignaturas</h3>
    <div class="">
        <div class="text-center text-black display-4 ">
            <div class="container my-4">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <div class="card mb-3 p-3 mb-2 prueba2" *ngFor="let asig of getSubject()">
                            <app-tutor-my-subjects-card [datesOfSubjects]="asig"></app-tutor-my-subjects-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
