<div class="flex">
    <div class="item">
        <p class="text">Alumno</p>
        <p>Laura Fernández Díaz</p>
    </div>
    <div class="item">
        <p class="text">Asignatura</p>
        <p>Matemáticas</p>
    </div>
    <div class="item">
        <p class="text">Email</p>
        <p>laura@gmail.com</p>
    </div>
    <div class="item">
        <p class="text">Teléfono</p>
        <p>123 456 789</p>
    </div>
    <div class="item">
        <p class="text">Día</p>
        <p>Calendario1</p>
    </div>
    <div class="item">
        <p class="text">Hora</p>
        <p>Calendario2</p>
    </div>

    <div>
        <button>+ Info</button>
    </div>
</div>