h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.hover-contact:hover {
    background-color: rgb(141, 184, 141);
}

.hover-danger:hover {
    background-color: rgb(255, 4, 4);
}

.tags {
    background-color: rgb(110, 143, 110);
    font-size: 14px;
}