.card {
    padding: 20px;
}

.review {
    display: flex;
    position: relative;
    margin: auto;
}


.name {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
    color: rgb(131, 182, 131);
}

.rate {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    margin-bottom: 30px;
    margin-top: 3px !important;
    padding-left: 1px;
    font-weight: bold;
}

.tags {
    background-color: rgb(97, 132, 97);
    font-size: 14px;
}

.text {
    margin: 0;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
}

.btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(141, 184, 141);
    border-color: transparent;
}