<div class="card" style="width: 18rem;">
    <img src="../../../assets//images/personal-placeholder-dona.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="name">Sean</h5>
        <div class="review">
            <app-tutor-stars (starsCount)="2"></app-tutor-stars>
            <p class="rate">5 (29 opiniones)</p> 
        </div>
        <div>
            <p class="text">Respuesta media <span>4 h</span></p>
        </div>
        <div>
            <p class="text">Número de alumnos <span>+20</span></p>
        </div>
                
        <a href="#" class="btn btn-primary">Contactar</a>
    </div>
</div>
