<div class="description">
    <div *ngIf="getStudents()">
        <h5 class="about">Sobre {{getName()}}</h5>
        <p>{{getStudents().aboutMe}} </p>
        <h5 class="subject">Asignaturas de interés</h5>
        <p>{{getStudents().myInterests}} </p>
    </div>
    <div *ngIf="!getStudents()">

        <h5 class="about">Sobre {{getName()}}</h5>
        <p>No hay datos insertados </p>
        <h5 class="subject">Asignaturas de interés</h5>
        <p>No hay datos insertados </p>
    </div>
</div>