<div class="description">
    <h5 class="about">Sobre Marina</h5>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita minus consectetur quidem quis magnam! Cumque iure fugiat sit autem ullam, quaerat asperiores eveniet eaque excepturi itaque quae maxime hic similique!</p>
    <h5 class="subject">Asignaturas de interés</h5>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita minus consectetur quidem quis magnam! Cumque iure fugiat sit autem ullam, quaerat asperiores eveniet eaque excepturi itaque quae maxime hic similique!</p>
</div>