<h3>Listado de alumnos</h3>
<div class="flex">
    <div class="name item">
        <p class="text">Nombre</p>
        <p>Laura Fernández Díaz</p>
    </div>
    <div class="subject item">
        <p class="text">Asignatura</p>
        <p>Matemáticas, Lengua</p>
    </div>
    <div class="email item">
        <p class="text">Email</p>
        <p>laura@gmail.com</p>
    </div>
    <div class="phone item">
        <p class="text">Teléfono</p>
        <p>123 456 789</p>
    </div>
    <div>
        <button>+ Info</button>
    </div>
</div>
