<div class="flex">
    <button type="button" class="btn btn-primary btn-sm">-</button>

    <select formControlName="nivel" class="form-select">
        <option value="Primaria">Primaria</option>
        <option value="Secundaria">Secundaria</option>
        <option value="Bachillerato">Bachillerato</option>
        <option value="Universidad">Universidad</option>
    </select>

    <select formControlName="asignatura" class="form-select">
        <option value="Matemáticas">Matemáticas</option>
        <option value="Lenguaje">Lenguaje</option>
        <option value="Inglés">Inglés</option>
        <option value="Programación">Programación</option>
        <option value="Física">Física</option>
        <option value="Biología">Biología</option>
        <option value="Química">Química</option>
    </select>

    <input type="text" class="form-control" placeholder="Precio" aria-label="Example text with two button addons">

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
        <label class="form-check-label" for="flexCheckIndeterminate">
        Primera clase gratis
        </label>
    </div>
</div>