<div class="card" style="width: 18rem;">
    <img id="user-image" class="card-img-top" src="" alt="User Image">
    <div class="card-body">
        <h5 class="name"></h5>
        <span id="user-name"></span>&nbsp;<span id="user-lastname"></span>
        <p id="user-province" class="location"></p>       
        <div>
            <p class="text">Fecha de nacimiento<span class="text-secondary"></span></p>
            <p id="user-birthday"></p>
        </div>           
        <a href="#" class="btn btn-primary">Editar perfil</a>
    </div>
    <script src="student-card.component.ts"></script>
</div>

