<h5>Sobre mi</h5>
<div class="flex">
    <div class="prueba">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Escribe una breve descripción sobre ti</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Escribe una breve descripción sobre tus intereses y lo que quieres aprender</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>     
</div>
