<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-4">
    <div class="container">
        <a class="navbar-brand title-text me-5" routerLink="/admin" routerLinkActive="active">
            <img src="assets/icons/app_icon_2.png" alt="Icon" class="img-fluid icon-image rounded-circle small-icon bordered-image me-3">
            Tutoring
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item me-3">
                    <a class="nav-link font-weight-bold" routerLink="/admin/profesores" routerLinkActive="active">
                        <i class="bi bi-person-plus"></i> Profesores
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link font-weight-bold" routerLink="/admin/usuarios" routerLinkActive="active">
                        <i class="bi bi-person-plus"></i> Usuarios
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link font-weight-bold" routerLink="/admin/asignaturas" routerLinkActive="active">
                        <i class="bi bi-person-plus"></i> Asignaturas
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" routerLink="/logout" routerLinkActive="active">
                        <i class="bi bi-person-plus"></i> Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>