.info {
    display: flex;
    margin-top: 50px;
    margin-left: 220px;
    margin-right: 220px;
    padding-left: 80px;
    padding-right: 80px;
    gap: 60px;
}

.margin{
    padding-top: 70px;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: 220px;
    margin-right: 220px;
}