.info {
    display: flex;
    margin-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    gap: 60px;
    
}

.card-container{
    width: 20vw;
}

.info-container{
    width: 80vw;
}

.margin{
    padding-top: 70px;
    margin-left: 420px;
    margin-right: 420px;
}

.margin2{
    margin-left: 150px;
    margin-right: 150px;
}

.top{
    margin-top: 110px;
    margin-bottom: 60px;
}

.btn{
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 1.2rem;
    background-color: rgb(255, 242, 218);
    border: solid 1px rgb(255, 235, 195);
    color: rgb(234, 155, 7);
    font-weight: 500;
}