<div class="card form-translucido">
    <div class="card-body">
        <h2 class="text-center mb-4">Solicitar clase</h2>
        <form>
            <!--Elegir una asignatura-->
            <div class="mb-3">
                <label for="" class="form-label">Elige una asignatura</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Elige una asignatura</option>
                    <option value="Matemáticas">Matemáticas</option>
                    <option value="Lengua">Lengua</option>
                    <option value="Física">Física</option>
                    <option value="Química">Química</option>
                    <option value="Inglés">Inglés</option>
                </select>
            </div>

            <!--Elegir el nivel-->
            <div class="mb-3">
                <label for="" class="form-label">Elige el nivel</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Elige el nivel</option>
                    <option value="Matemáticas">Primaria</option>
                    <option value="Lengua">Secundaria</option>
                    <option value="Física">Bachillerato</option>
                    <option value="Química">Universidad</option>
                </select>
            </div>

            <!--Elegir un día-->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Elige un día</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>

            <!--Elegir una hora-->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Elige una hora</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            
            <button type="submit" class="btn btn-primary">Solicitar</button>
        </form>
    </div>
</div>