<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-4">
    <div class="container">
        <a class="navbar-brand title-text" routerLink="/admin" routerLinkActive="active">
            <img src="assets/icons/app_icon_2.png" alt="Icon" class="img-fluid icon-image rounded-circle small-icon bordered-image me-3">
            Tutoring
        </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-start ms-4" id="navbarNav">
      <ul class="navbar-nav">
        

        <li class="nav-item ps-4 pe-4">
          <a
            class="nav-link text-dark hand-cursor"
            aria-current="page"
            (click)="goToTutorInfo()"
            >Panel</a
          >
        </li>
        <li class="nav-item ps-4 pe-4">
          <a
            class="nav-link text-dark hand-cursor"
            aria-current="page"
            [routerLink]="['/tutor/subjects']"
            routerLinkActive="router-link-active"
            >Asignaturas</a
          >
        </li>
        <li class="nav-item ps-4 pe-4">
          <a
            class="nav-link text-dark hand-cursor"
            aria-current="page"
            (click)="goToTutorStudents()"
            >Alumnos</a
          >
        </li>
        <li class="nav-item ps-4 pe-4">
          <a
            class="nav-link text-dark hand-cursor"
            aria-current="page"
            (click)="goToTutorNotifications()"
            >Notificaciones</a
          >
        </li>
        <li class="nav-item ps-4 pe-4">
          <a
            class="nav-link text-dark hand-cursor"
            aria-current="page"
            (click)="goToTutorOpinions()"
            >Opiniones</a
          >
        </li>
        <li class="nav-item ps-4 pe-4">
          <a
            class="nav-link text-dark hand-cursor"
            aria-current="page"
            (click)="goToTutorProfile()"
            >Perfil</a
          >
        </li>

      </ul>
     </div> 
     <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link font-weight-bold"
              routerLink="/Inicio"
              routerLinkActive="active"
            >
              <i class="bi bi-house-door"></i> Inicio
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link font-weight-bold"
              routerLink="/Inicio"
              routerLinkActive="active"
            >
              <i class="bi bi-house-door"></i> Cerrar Sesión
            </a>
          </li>
        </ul>
     </div>
      

    
  </div>
</nav>
