<div class="menu">
    <ul class="nav justify-content-center nav-underline ">
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark hand-cursor" aria-current="page" (click)="goToStudentInfo()">Panel de control</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark hand-cursor" aria-current="page" (click)="goToStudentClasses()">Mis Clases</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark hand-cursor" aria-current="page" (click)="goToStudentTutors()">Mis Profesores</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark hand-cursor" aria-current="page" (click)="goToStudentNotifications()">Mis Notificaciones</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark hand-cursor" aria-current="page" (click)="goToStudentProfile()">Mi perfil</a>
        </li>
    </ul>
</div>