<div class="menu">
    <ul class="nav justify-content-center nav-underline ">
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link active text-dark" aria-current="page" href="#">Panel de control</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark" href="#">Mis clases</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark" href="#">Mis alumnos</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark" href="#">Notificaciones</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark" href="#">Opiniones</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark" href="#">Mi perfil</a>
        </li>
</ul>
</div>

