<div class="menu">
    <ul class="nav justify-content-center nav-underline ">
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark hand-cursor" aria-current="page" (click)="goToTutorInfo()">Panel de control</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark hand-cursor" aria-current="page" [routerLink]="['/tutor/subjects']"
                routerLinkActive="router-link-active">Mis Asignaturas</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark hand-cursor" aria-current="page" (click)="goToTutorStudents()">Mis Alumnos</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark hand-cursor" aria-current="page" (click)="goToTutorNotifications()">Mis
                Notificaciones</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark hand-cursor" aria-current="page" (click)="goToTutorOpinions()">Mis
                Opiniones</a>
        </li>
        <li class="nav-item ps-4 pe-4">
            <a class="nav-link text-dark hand-cursor" aria-current="page" (click)="goToTutorProfile()">Mi perfil</a>
        </li>
    </ul>
</div>