<h5 class="text">Listado de precios</h5>
<div class="ps-4">
    <table class="table table-hover">
        <thead class="color">
            <tr>
            <!-- <th scope="col"></th> -->
            <th scope="col">Asignatura</th>
            <th scope="col">Nivel</th>
            <th scope="col">Tarifa por hora</th>
            <th scope="col">Desplazamientos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Matemáticas</td>
                <td>Bachillerato</td>
                <td>12€ / hora</td>
                <td>+ 7€</td>
            </tr>
            <tr>
                <td >Física</td>
                <td>Universitario</td>
                <td>16€ / hora</td>
                <td>+ 7€</td>
            </tr>
            <tr>
                <td>Dibujo técnico</td>
                <td>Universitario</td>
                <td>16€ / hora</td>
                <td>+ 7€</td>
            </tr>
        </tbody>
    </table>
</div>

