<h3 class="text">Listado de precios</h3>
<div class="margin">
    <table class="table table-hover">
        <thead class="color">
            <tr>
                <th scope="col">Asignatura</th>
                <th scope="col">Nivel</th>
                <th scope="col">Tarifa por hora</th>
                <th scope="col">Desplazamientos</th>

            </tr>
        </thead>
        <tbody id="subject-table-body">
            <!-- Aquí se agregarán las filas dinámicamente con JavaScript -->
        </tbody>
    </table>
    <script src="table-subject-price.component.ts"></script>
</div>


<!-- <h3 class="mt-5">Solicita tu clase</h3> -->

<div class="text-center">
    <button (click)="toggleElement()" class="btn px-5 shadow-sm p-2 rounded">Solicita tu clase</button>
    <div *ngIf="mostrarElemento" class="mt-3">
        <app-choose-class [class]="asignaturas"></app-choose-class>
    </div>
</div>
