.text{
    padding-bottom: 20px;
}

.prueba{
    padding-left: 50px;
    padding-right: 50px;
}

.table{
    font-size: 0.9rem;
    text-align: center;
}

th{
    background-color: rgb(48, 77, 48);
    color: white;
}

