<h5 class="text">Listado de precios</h5>
<div class="prueba">
    <table class="table table-hover">
        <thead class="color">
            <tr>
                <th scope="col">Asignatura</th>
                <th scope="col">Nivel</th>
                <th scope="col">Tarifa por hora</th>
                <th scope="col">Desplazamientos</th>
            </tr>
        </thead>
        <tbody id="subject-table-body">
            <!-- Aquí se agregarán las filas dinámicamente con JavaScript -->
        </tbody>
    </table>
    <script src="table-subject-price.component.ts"></script>
</div>

