<div class="description">
    <h2>Nativo anglosajón ofrece clases entretenidas y personalizadas de conversación de inglés en línea</h2>
    <h5 class="about">Sobre Sean</h5>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita minus consectetur quidem quis magnam! Cumque iure fugiat sit autem ullam, quaerat asperiores eveniet eaque excepturi itaque quae maxime hic similique!</p>
    <h5 class="class">Acerca de la clase</h5>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita minus consectetur quidem quis magnam! Cumque iure fugiat sit autem ullam, quaerat asperiores eveniet eaque excepturi itaque quae maxime hic similique!</p>
</div>