h5{
    margin-bottom: 30px;
}

.flex{
    display: flex;
    margin-left: 30px;
}

.w-35 {
    width: 35%;
}

.round{
    border-radius: 50%;
}

.color{
    background-color: rgb(124, 168, 106);
    color: white;
}

.take{
    border: solid 1px;
    background-color: white;
    border-color: rgb(124, 168, 106);
    margin-bottom: 70px;
    width: 75%;
}

.fit-content {
    width: fit-content;
}

