<h5 class="underline">¿Qué quieres enseñar?</h5>

<div class="flex">
    <button type="button" class="btn btn-primary btn-sm">-</button>

    <select formControlName="rol" class="form-select">
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
    </select>

    <select formControlName="rol" class="form-select">
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
    </select>

    <input type="text" class="form-control" placeholder="Precio" aria-label="Example text with two button addons">
</div>

<div class="flex">
    <button type="button" class="btn btn-primary btn-sm plus">+</button>
    <p class="link">Añadir otra asignatura</p>
</div>


