<div class="table-responsive custom-rounded-table">
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí van los datos de los profesores pendientes -->
            <tr *ngFor="let teacher of teachers">
                <td>{{ teacher.name + ' ' + teacher.lastName }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.phone }}</td>
                <td>
                    <button class="btn btn-success btn-sm me-2 mb-2" (click)="validateTeacher(teacher)">Validar</button>
                    <button class="btn btn-danger btn-sm me-2 mb-2" (click)="rejectTeacher(teacher)">Rechazar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
